
//PALETA DE COLORES//
$amarillo: #fed136;
$amosc:#fec503;
$naranja: #e74c3c;
$negro: #222;
$gris: #777;
$gris-claro: #f7f7f7;
$texto: #bbbbbb;
$blanco:white;

//TIPOGRAfÍA//
$kaushan:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
$montserrat:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$droid:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
$roboto:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif

